<!DOCTYPE>
<html>
    <head>
        <title>Little Forest</title>
    </head>
    
    <body>

    <style>
        html{
            background-image: url(https://i.pinimg.com/originals/bc/b2/ed/bcb2ed53964eb24e5565cb2ed85af74b.jpg);
        }
        .container{
            text-align: center;
            margin-top: 40vh;
            background: rgba(0, 0, 0, 0.2);
            overflow: auto;
            padding: 10px;
        }
        button{
            width: 100px;
            height: 35px;
            border: none;
            background: rgba(0, 0, 0, 0.4);
            margin-bottom: 10px;
        }
        a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: 300;
        }
    </style>
    
    <div class="container">
        <h1>Little Forest</h1>
        <button onclick="click()">
            <a class="button" href="/campgrounds">VIEWS</a>
        </button>
    </div>
    </body>
</html>

