<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav" style="margin-bottom: 32px; background-color:white;">
        <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-tree"></i></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if(!user){ %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
              <% } else{ %>  
              </li>
              <li class="nav-item">
                <a class="nav-link"><%= user.username %>님</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <% } %>
            </ul>
        </div>
        </div>
    </nav>
    
    <div class="container">
      <% if(errMsg[0]){ %>
        <div class="flash err"><%= errMsg[0] %></div>
      <% } else if(sucMsg[0]){ %>
        <div class="flash suc"><%= sucMsg[0] %></div>
      <% } %>
    </div>